.games-container
    min-height: 880px
    @include bg 
    background-image: url(../sliderTop/images/CoD.png)
    background-size: cover
.inline-games-container
    background: rgba(23, 23, 23, 0.5)
    width: 100%
    min-height: 880px
.inline-games-container h2 
    @include text-settings(36px, white)
    text-align: center
    padding-top: 97px
    margin-bottom: 54px
.InfiniteCarouselDots button
    position: relative
    top: 30px
.x-box-btn
    @include flex(center, center)
    width: 100%
    min-height: 80px
    margin-top: 55px
.x-box-btn a
    @include flex(center, center)
    @include link(white)
    @include text-settings(21px, white)
    width: 207px
    min-height: 53px
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%)
    border-radius: 4px
@media screen and (max-width: 500px)
    .card-container
        width: 320px
        height: 420px
        padding: 10px
    .card-container:hover
        padding: 0px
    .card-text 
        font-size: 18px
@media screen and (max-width: 382px)
    .card 
        margin-left: 20px
    .card-container
        width: 100%