.designLab-container
    @include bg
    background-image: url(./images/designLab.png)
.inline-dl-container
    background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%)
    min-height: 480px 
.col-w50
    width: 50%
    padding-left: 167px 
.inline-dl-container h2 
    @include text-settings(48px, white)
    padding-top: 114px 
.inline-dl-container p
    @include text-settings(24px, white)
    padding-top: 8px 
.design-lab-btn-container
    @include flex(center, left)
    margin-top: 37px
.design-lab-btn-container a
    height: 60px
    @include flex(center, center)
    @include link(white)
    @include text-settings(16px, white)
    border-radius: 4px
.design-lab-btn1
    width: 207px
    margin-right: 15px
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%)
.design-lab-btn2
    width: 278px
    background: $green
@media screen and (max-width: 1024px)
    .col-w50
        padding-left: 30px 
    .designLab-container h2 
        width: 100%
@media screen and (max-width: 768px)
    .inline-dl-container
        display: flex
        flex-direction: column
    .col-w50
        width: 100%
        padding-left: 0px 
    .inline-dl-container p
        text-align: center
    .design-lab-btn-container
        justify-content: center
    .design-lab-btn-container a 
        margin: 0px
@media screen and (max-width: 505px)
    .design-lab-btn-container
        flex-direction: column
    .design-lab-btn-container div 
        margin-top: 10px
    .inline-dl-container p
        font-size: 18px
    .col-w50 h2 
        font-size: 24px
